/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fluid-container {
    width: 97%;
    margin: 0 auto;
   
}

.dept,
.table-responsive {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.table-responsive {
}

.dept {
    display: flex;
    padding: 0.5rem 0;
}

.form-select {
    width: 300px;
    height: 40px;
}

.col1 {
    width: 150px;
    min-width: 150px;
    font-size: 18px;
    color: rgba(66, 143, 89, 0.89);
    font-weight: bold;
}

.col2 {
    width: 400px;
    height: 40px;
}

.col3 {
    width: 150px;
    background-color: rgb(27, 133, 175);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left:1rem ;
}

.col3 button {
    color: white;
}

.col4 {
    vertical-align: middle;
}

.table-responsive table tr th {
    min-width: 90px;
    width: 90px;
    text-align: center;
    background-color: rgba(137, 167, 201, 0.251)
}

.table-responsive table tr td {
    min-width: 100px;
    width: 100px;
    text-align: center;
}

.table-responsive table tr .col1 {
    min-width: 50px;
    width: 50px;
}

.schadule-table {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 2rem;
}

p {
    height: 30px;
    padding-top: 2px;
}

button {
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
}

.schadule2-tables th {
    border-top: none;
}

.schadule2-tables tr {
    border-bottom: none;
    outline: none
}

table {
    width: 100%;
}
p{
    color: gray;
    width: 100%;
    text-align: center;
}
.hide{
    display: none;
}
@media(max-width:845px){
    button{
        padding: 3px;
    }
  }
@media(max-width:766px){
    .dept{
        display: inline-block;
    }
} */
.fluid-container{
    width:97%;
    margin:auto;
    height: fit-content;
}
.fluid-container .row{
    width: 100%;
    padding: 0.6rem 0;
    border-bottom: 2px solid gray;
    margin: 0 auto;

}
.add_btn,.show_btn{
    width:200px
}
.add_btn button,.show_btn button{
    width:150px;
    margin: 0 auto;
    background-color: #17385e;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
    border: none;
    outline: none;
}

.show_btn .active, .add_btn .active{
    background-color: rgb(111, 145, 60);
}
.main-page{
    width: 100%;
    margin: 0 auto;
}
