<div class="fluid-container">
<!-- display loading view or page -->
    <div *ngIf="loadflag;then loading;else page" ></div>
<!-- start page template -->
<ng-template #page>
<div *ngIf="pageflag" class="container-fluid w-100">
    <div class="d-block p-2 head m-0">
        <button (click)="open_close_addmodule()" class="btn text-white btn-success" data-bs-toggle="modal" data-bs-target="#myModal">Add receptionist </button>
    </div>
    <div class="searching">
        <input class="serach" type="checkbox" id="check" />
        <div class="d-flex">
            <label for="check"><i class="fa-solid fa-magnifying-glass "></i> &nbsp; srearch for special receptionist</label>
            <div>
                <button class="btn" (click)="allreceptionist()" disabled #allbtn>All</button>
            </div>
        </div>
        <div class="searching-fields">
            <form #docInf="ngForm" (ngSubmit)="search(docInf,allbtn)" class="row mx-auto justify-content-between py-3">
                <div class="col-lg-3 col-md-6">
                    <label for="docstate">State</label><br>
                    <select class="form-control" name="docstate" id="docstate" ngModel #docstate="ngModel">
                        <option value="" disabled></option>
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
                <div class="mt-2">
                    <input type="submit" class="btn" value="search" >
                </div>
            </form>
        </div>
    </div>
   <div *ngIf="tableflag;then table;else loading"></div>
   <ng-template #table>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>username</th>
                    <th>Name</th>
                    <th>National Id</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>hiring date</th>
                    <th>state</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of receptionistlist|paginate: { itemsPerPage:5, currentPage: p ,totalItems:totallength}">
                    <td>{{i.userName}}</td>
                    <td>{{i.firstName}}&nbsp;{{i.lastName}}</td>
                    <td>{{i.nationalId}}</td>
                    <td>{{i.mail}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.phoneNumber}}</td>
                    <td>{{i.createdDtm |date:'shortDate'}}</td>
                    <td><p *ngIf="i.isActive">Active</p><p *ngIf="!i.isActive">In-Active</p></td>
                    <td>
                        <button (click)="open_close_addmodule()" (click)="setreceptionist(i)"> <span class="fa-solid fa-pen-to-square " style="color:green " > </span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls style="margin:3rem 0;float: right;" (pageChange)="p = $event"></pagination-controls> 
</ng-template>
</div>
<div *ngIf="!pageflag" style="margin-top:0rem; text-align:center ;">
    No Avaliable Data<br>
    <p style="color:red">please try later</p></div>
</ng-template>
<!-- end page template -->
<!-- start loading page -->
<ng-template #loading>
    <div class="fluid-container loading"><img src="assets/Spinner.svg" /></div>
</ng-template>
<!-- end loading page -->
</div>
<!-- strat add employee  section -->
<div class="hidden-adding" [ngClass]="{'toggle-addmodel':ModuleFlag}">
    <div class="modal fade"  id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3  class="modal-title">New receptionist</h3>
                    <button type="button" (click)="open_close_addmodule()" (click)="reset()" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="fa-solid fa-xmark"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="receptionistInfo" #signForm="ngForm" (ngSubmit)="submit()">
                        <div class="row p-3 justify-content-center ">
                            <div class="col-md-5">
                                <label class="form-lable" for="receptionistfname">First Name</label>
                                <input class="form-control " type="text" name="receptionistfname" id="receptionistfname" formControlName="firstName"
                                [ngClass]="{'is-invalid':((receptionistfname.touched&& receptionistfname.invalid)||(submitted&&receptionistfname.hasError('required')))}"
                                />
                                <div class="invalid-feedback">
                                    {{((receptionistfname.touched&&receptionistfname.hasError('required'))||(submitted&&receptionistfname.hasError('required')))?"This field is reqired":''}}
                                    {{receptionistfname.touched&&receptionistfname.hasError('minlength')?"Minimum Name length is 3":''}}
                                    {{receptionistfname.touched&&receptionistfname.hasError('maxlength')?"Maxiumim Name length is 10":''}}
                                    {{receptionistfname.touched&&receptionistfname.hasError('pattern')?" Only letters are allowed":''}}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="form-lable" for="receptionistlname">Last Name</label>
                                <input class="form-control" type="text" name="receptionistlname" id="receptionistlname" formControlName="lastName" 
                                [ngClass]="{'is-invalid':((receptionistlname.touched&& receptionistlname.invalid)||(submitted&&receptionistlname.hasError('required')))}"
                                />
                                <div class="invalid-feedback">
                                    {{((receptionistlname.touched&&receptionistlname.hasError('required'))||(submitted&&receptionistlname.hasError('required')))?"This field is reqired":''}}
                                    {{receptionistlname.touched&&receptionistlname.hasError('minlength')?"Minimum Name length is 3":''}}
                                    {{receptionistlname.touched&&receptionistlname.hasError('maxlength')?"Maxiumim Name length is 10":''}}
                                    {{receptionistlname.touched&&receptionistlname.hasError('pattern')?" Only letters are allowed":''}}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="form-lable" for="receptionistuname">User Name</label>
                                <input class="form-control " type="text" name="receptionistuname" id="receptionistuname" formControlName="userName" 
                                [ngClass]="{'is-invalid':((receptionistUserName.touched&& receptionistUserName.invalid)||(submitted&&receptionistUserName.hasError('required')))}"
                                />
                                <div class="invalid-feedback">
                                    {{((receptionistUserName.touched&&receptionistUserName.hasError('required'))||(submitted&&receptionistUserName.hasError('required')))?"This field is reqired":''}}
                                    {{receptionistUserName.touched&&receptionistUserName.hasError('pattern')?"character @ # / * etc.. not allowed":''}}
                                </div>
                            </div>
                            <div class="col-md-5" [hidden]="updateflag">
                                <label class="form-lable" for="Password">Password</label>
                                <input class="form-control"  type="Password" name="Password" id="Password" formControlName="password"
                                 [ngClass]="{'is-invalid':((receptionistPassword.touched&& receptionistPassword.invalid)||(submitted&&receptionistPassword.hasError('required')))}"
                                />
                                <div class="invalid-feedback">
                                    {{((receptionistPassword.touched&&receptionistPassword.hasError('required'))||(submitted&&receptionistPassword.hasError('required')))?"This field is reqired":''}}
                                    {{receptionistPassword.touched&&receptionistPassword.hasError('minlength')?"please it must be at least 8 character":''}}
                                    {{receptionistPassword.touched&&receptionistPassword.hasError('pattern')?"must contain @ # . only and upper or lowercase ad number":''}}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="form-lable" for="nationalId">National Id</label>
                                <input class="form-control" type="number" min="0" (change)="validationntionalid($event)" name="nationalId" id="nationalId" formControlName="nationalId" 
                                [ngClass]="{'is-invalid':((receptionistNid.touched&& receptionistNid.invalid)||(submitted&&receptionistNid.hasError('required')||!nationalidflag))}"
                                />
                                <div class="invalid-feedback">
                                    {{((receptionistNid.touched&&receptionistNid.hasError('required'))||(submitted&&receptionistNid.hasError('required')))?"This field is reqired":''}}
                                    {{receptionistNid.touched&&receptionistNid.hasError('pattern')||!nationalidflag?"invalid national id":''}}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="form-lable" for="age">Age</label>
                                <input class="form-control" type="number" min="20" name="Date-of-Birth" id="Date-of-Birth" formControlName="age" 
                                [ngClass]="{'is-invalid':((receptionistAge.touched&& receptionistAge.invalid)||(submitted&&receptionistAge.hasError('required')))}"
                                />
                                <div class="invalid-feedback">
                                    {{((receptionistAge.touched&&receptionistAge.hasError('required'))||(submitted&&receptionistAge.hasError('required')))?"This field is reqired":''}}
                                    {{receptionistAge.touched&&receptionistAge.hasError('min')?"age must be between 20 ad 90 year":''}}
                                    {{receptionistAge.touched&&receptionistAge.hasError('max')?"age must be between 20 ad 90 year":''}}
                                </div>
                            </div>            
                            <div class="col-md-5">
                                <label class="form-lable" for="gender">gender</label>
                                <select id="gender" class="form-control" formControlName="gender"
                                [ngClass]="{'is-invalid':((receptionistGender.touched&& receptionistGender.invalid)||(submitted&&receptionistGender.hasError('required')))}">
                                    <option vlaue="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                                <div class="invalid-feedback">
                                    {{((receptionistGender.touched&&receptionistGender.hasError('required'))||(submitted&&receptionistGender.hasError('required')))?"This field is reqired":''}}
                                    </div>
                            </div>
                            <div class="col-md-5">
                                <label class="form-lable" for="bloodtype">bloodtype</label>
                                <select id="bloodtype" class="form-control" formControlName="bloodType"
                                [ngClass]="{'is-invalid':((receptionistBloodType.touched&& receptionistBloodType.invalid))}">
                                    <option vlaue="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option vlaue="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option vlaue="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option vlaue="O+">O+</option>
                                    <option value="O-">O-</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <label class="form-lable" for="Email">Email</label>
                                <input class="form-control" type="email" name="Email" id="Email" formControlName="mail" 
                                [ngClass]="{'is-invalid':((receptionistMail.touched&& receptionistMail.invalid)||(submitted&&receptionistMail.hasError('email')))}"
                                />
                                <div class="invalid-feedback">
                                    {{((receptionistMail.touched&&receptionistMail.hasError('email'))||(submitted&&receptionistMail.hasError('email')))?"must in email format ex xx@xxxx.eg or com":''}}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="form-lable" for="phone">phone</label>
                                <input class="form-control" type="tel" name="phone" id="phone" formControlName="phoneNumber" 
                                [ngClass]="{'is-invalid':((receptionistPhone.touched&& receptionistPhone.invalid)||(submitted&&receptionistPhone.hasError('required')))}"
                                />
                                <div class="invalid-feedback">
                                    {{((receptionistPhone.touched&&receptionistPhone.hasError('required'))||(submitted&&receptionistPhone.hasError('required')))?"This field is reqired":''}}
                                    {{receptionistPhone.touched&&receptionistPhone.hasError('pattern')?"must 11 number and start with 010,011,012 or 015":''}}
                                </div>
                            </div>
                            <div class="col-md-5 justify-content-center">
                                <label class="form-lable label1" for="address">address</label>
                                <input class="form-control form-control1" value="" type="text" name="address" id="address" formControlName="address"/>
                            </div>
                            <div class="col-md-5">
                                <label class="form-lable" for="image">Image</label>
                                <input type="file" id="image" class="form-control" (change)="uploadfile($event)" formControlName="image"/>
                            </div>
                            <div class="col-md-5" [ngClass]="{'col-md-10':!updateflag}">
                                <label class="form-lable" for="hiring">Hiring Date</label>
                                <input type="date" max="{{today}}" id="hiring" class="form-control" formControlName="createdDtm"
                                [ngClass]="{'is-invalid':((Hdate.touched&& Hdate.invalid)||(submitted&&Hdate.hasError('required')))}"/>
                                <div class="invalid-feedback">
                                    {{((Hdate.touched&&Hdate.hasError('required'))||(submitted&&Hdate.hasError('required')))?"This field is reqired":''}}
                                    </div>
                            </div>
                            <div class="col-md-10" [hidden]="!updateflag">
                                <label class="form-lable" for="active">Is Active</label>
                                <input type="checkbox" class="is-active" [checked]="receptionistactive.value" id="active"  formControlName="isActive"/>
                                
                            </div> 
                        </div>
                        <div class="row p-3 justify-content-center">
                            <div class="col-sm-3">
                                <input type="submit" value="submit" class="form-control" id="submit1" />
                                <div *ngIf="!modalflag" class="fluid-container loading"><img src="assets/Spinner.svg" /></div>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-success alert-dismissible fade" role="alert" [ngClass]="{'successshow':successflag}">
                        <strong>success !</strong>
                      </div>
                    <div class="alert alert-danger alert-dismissible fade errormes" role="alert" [ngClass]="{'errorshow':errorflag}">
                        error!
                      </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- end add employee  section -->
