
   <div class="fluid-container bg-white">
    <div class="inner-container">
        <div class="prep-row" >
            <button class="btn" (click)="set_show_all_prep_flag()" type="button" data-toggle="collapse" data-target="#show-prep">
                <label class="form-lable" for="shoose-prep"><i class="fa-solid fa-prescription mx-2"></i>Show All Patient Prescriptions  </label>
            </button>
            <div class="collapse" id="show-prep" [ngClass]="{'show': showAllPrepflag}">
                <div class="card w-1000 ">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class='pdf'>Prescription</th>
                                    <th>Clinic Name</th>
                                    <th>Doctor Name</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of allPatientPrescriptionsList;let j=index">
                                    <td class="pdf" (click)="show_all_patient_prescriptions_in_pdf(i.prescription.prescriptionId)"><img src="assets/pdficon.png"/></td>
                                    <td>{{i.department}}</td>
                                    <td>{{i.doctorFullName}}</td>
                                    <td>
                                        {{i.prescription.prescription_Date |date: 'longDate'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>          
                </div>
            </div>
            </div>
        </div>
        <div class="prep-row" >
            <button class="btn" (click)="set_show_doc_prep_flag()" type="button" data-toggle="collapse" data-target="#showdocprep">
                <label class="form-lable" ><i class="fa-solid fa-prescription mx-2" aria-hidden="true"></i>Show Common Prescriptions </label>
            </button>
            <div class="collapse" id="showdocprep" [ngClass]="{'show':showdocPrepflag}">
                <div class="card w-100 ">
                    
                    <div class="table-responsive">
                        <table class="table pat-doc-table table-bordered">
                            <thead>
                                <tr>
                                    <th class='pdf'>pdf</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of patientDoctorPrescriptionsList;let j=index">
                                    <td class="pdf" (click)="show_patient_and_doctor_prescriptions_in_pdf(i.prescription.prescriptionId)"><img src="assets/pdficon.png"/></td>
                                    
                                    <td>
                                        
                                        {{i.prescription.prescription_Date |date: 'longDate'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
   </div>
   
<!--<button (click)="show_prescriptions_in_pdf()"> download</button>
<div class="fluid-container" *ngFor="let i of allPatientPrescriptionsList " id="allPrescrptions" >
   
    <div class="container container-sm">
        <header>
            <div class="logo">
                <img src="assets/fayoum-university.jpg" width="80px" height="80px" />
                <p>Fayoum University hospital</p>
            </div>
            <div class="patient-info">
                <table>
                    <tr>
                        <th>Pres. ID:</th>
                        <td>{{i.prescriptionId}}</td>
                        <th>Pres. Date:</th>
                        <td>{{i.prescription_Date|date:"MM/dd/yyyy"}}</td>  
                    </tr>
                    <tr>
                        <th>Patient Name:</th>
                        <td>Amira Eid</td>
                        <th>Gender:</th>
                        <td>Female</td>
                    </tr>
                    <tr>
                        <th>Doctor Name:</th>
                        <td>Mohamed Diab</td>
                        <th>Departement:</th>
                        <td>Heart</td>
                    </tr>
                    <tr>
                        <th>Patient Type:</th>
                        <td>Outdoor Patient</td>
                    </tr>
                  
                </table>
            </div>  
        </header>
        <hr>
        <main>
           <body>
            <body>
                <table class="table table-responsive medicine-table" >
                    <thead class="table-header">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">M.Name</th>
                            <th scope="col">M.Type</th>
                            <th scope="col">M.strength</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Dose</th>
                            <th scope="col">Instructions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of prescriptionItemsList ;let j=index">
                            <td>{{j+1}}</td>
                            <td>{{item.medicine_Name}}</td>
                            <td>{{item.medicineType}}</td>
                            <td>{{item.medicine_concentration}}</td>
                            <td>{{item.dose}}</td>
                            <td>{{item.durarion}}</td>
                            <td>{{item.instructions}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </body>
                <hr width="95%" style="border:2px solid black">
                <footer>
                    <div class="row reappointment-section">
                        <div class="col-md-4">
                            <label>Date of Re-Examination</label>
                            <p>{{i.re_appointement_date|date}}</p>
                        </div>
                    </div>
            </footer>
           </body>
        </main>
    </div>
</div>-->

<!--<button (click)="show_prescriptions_in_pdf()"> download</button>
<div class="fluid-container" *ngFor="let i of allPatientPrescriptionsList " id="allPrescrptions" >
   
    <div class="container container-sm">
        <header>
            <div class="logo">
                <img src="assets/fayoum-university.jpg" width="80px" height="80px" />
                <p>Fayoum University hospital</p>
            </div>
            <div class="patient-info">
                <table>
                    <tr>
                        <th>Pres. ID:</th>
                        <td>{{i.prescriptionId}}</td>
                        <th>Pres. Date:</th>
                        <td>{{i.prescription_Date|date:"MM/dd/yyyy"}}</td>  
                    </tr>
                    <tr>
                        <th>Patient Name:</th>
                        <td>Amira Eid</td>
                        <th>Gender:</th>
                        <td>Female</td>
                    </tr>
                    <tr>
                        <th>Doctor Name:</th>
                        <td>Mohamed Diab</td>
                        <th>Departement:</th>
                        <td>Heart</td>
                    </tr>
                    <tr>
                        <th>Patient Type:</th>
                        <td>Outdoor Patient</td>
                    </tr>
                  
                </table>
            </div>  
        </header>
        <hr>
        <main>
           <body>
            <body>
                <table class="table table-responsive medicine-table" >
                    <thead class="table-header">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">M.Name</th>
                            <th scope="col">M.Type</th>
                            <th scope="col">M.strength</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Dose</th>
                            <th scope="col">Instructions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of prescriptionItemsList ;let j=index">
                            <td>{{j+1}}</td>
                            <td>{{item.medicine_Name}}</td>
                            <td>{{item.medicineType}}</td>
                            <td>{{item.medicine_concentration}}</td>
                            <td>{{item.dose}}</td>
                            <td>{{item.durarion}}</td>
                            <td>{{item.instructions}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </body>
                <hr width="95%" style="border:2px solid black">
                <footer>
                    <div class="row reappointment-section">
                        <div class="col-md-4">
                            <label>Date of Re-Examination</label>
                            <p>{{i.re_appointement_date|date}}</p>
                        </div>
                    </div>
            </footer>
           </body>
        </main>
    </div>
</div>-->
