<div class="getpatient row">
    <div class="col-6">
        <label for="patient-sec" (click)="setsearch(true)" class="patient-sec"><span class="fa fa-search" aria-hidden="true"></span>Search For Patient</label>
    </div>
    <div class="col-6">
        <label for="doctor-sec" (click)="setsearch(false)" class="doctor-sec"><span class="fa fa-search" aria-hidden="true"></span>Search For Doctor</label>
    </div>
</div>
<div class="container1" [ngClass]="{'show':searchflag}">
    <form #searchform="ngForm" (ngSubmit)="search(searchform)">
        <div class="row justify-content-around">
            <div class="col-sm-4">
                <label>Patient Name</label>
                <select class="form-select" ngModel #idpatient="ngModel" name="id" required>
                    <option *ngFor="let i of patientlist;let j=index" value="{{i.id}}">{{i.firstName}}&nbsp;{{i.lastName}}</option>
                </select>
                <div class="invalid-feedback">
                    {{(idpatient.errors?.['required']&&searchform.submitted)?"please select patient":''}}
                </div>
            </div>
            <div class="col-sm-4">
                <label>Date</label>
                <input type="Date" class="form-control" ngModel #date="ngModel" name="date" />
            </div>
            <div class="col-sm-4">
                <button class="btn">search</button>
            </div>
        </div>
    </form>
</div>
<div class="container2" [ngClass]="{'show':!searchflag}">
    <form #searchdocform="ngForm" (ngSubmit)="searchbydoctor(searchdocform)">
        <div class="row justify-content-around">
            <div class="col-sm-4">
                <label>Doctor Name</label>
                <select class="form-select" ngModel #iddoctor="ngModel" name="iddoctor"  required
                 [ngClass]="{'is-invalid':iddoctor.errors?.['required']&&searchdocform?.['submitted']}">
                    <option *ngFor="let i of Doctorlist;let j=index" value="{{i.id}}">{{i.firstName}}&nbsp;{{i.lastName}}</option>
                </select>
                <div class="invalid-feedback">
                    {{(iddoctor.errors?.['required']&&searchdocform.submitted)?"this is required":''}}
                </div>
            </div>
            <div class="col-sm-4">
                <label>Date</label>
                <input type="Date" class="form-control"  name="date" ngModel #date="ngModel" />
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn">search</button>
            </div>
        </div>
    </form>
</div>
 <div *ngIf="flag" class="table-responsive">
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <td class='pdf'>pdf</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of lablist|paginate: { itemsPerPage: 5, currentPage: p ,totalItems:totallength};let j=index">
                <td class="pdf" (click)="getTest(i.patientId,i.patientTestId)"><img src="assets/pdficon.png"/></td>
                <td>
                    {{i.testName}}
                    <br>
                    {{i.testDate |date: 'longDate'}}
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls style="margin:3rem 0;float: right;"(pageChange)="p = $event"></pagination-controls> 
</div>