<div class="fluid-container">
    <header>
        <div class="department-list">
            <label>Department</label>
            <select class="form-select" [disabled]="departmentflag" (change)="getschadules($event)">
                <option value="-1">select department</option>
                <option *ngFor="let i of departments" value="{{i.id}}">{{i.department_Name}}</option>
            </select>
        </div>
        <div *ngIf="doctorFlag" class="doctor-list">
            <label>Doctor</label>
            <select class="form-select" (change)="getdoctorschadule($event)">
                <option value="-1">select doctor</option>
                <option *ngFor="let i of schadules ; let j=index" value="{{j}}">{{i.doctorName}}</option>
            </select>
        </div>
</header>
    <div *ngIf="tableflag;then schadule;else noschadule"></div>
</div>
<ng-template #schadule>
    <div *ngIf="addflag;then addschadule;else updatedschadule"></div>
</ng-template>
<ng-template #noschadule>
    <div *ngIf="!doctorFlag" style="text-align:center; color:red">
        <p> there isn't Doctors</p>
    </div>
</ng-template>
<ng-template #updatedschadule>
    <div class="update-div">
        <form [formGroup]="updateform" (ngSubmit)="update()" class="update-class">
            <table >
                <tr>
                    <th>Doctor Name</th>
                    <td>
                        {{tempSchadule.doctorName}}
                    </td>
                </tr>
                <tr>
                    <th>work day</th>
                    <td>
                        <select class="form-select updateclass"  name="dayofwork"  formControlName="dayofwork">
                            <option value="0">sunday</option>
                            <option value="1">monday</option>
                            <option value="2">tuesday</option>
                            <option value="3">wednesday</option>
                            <option value="4">thursday</option>
                            <option value="5">friday</option>
                            <option value="6">saturday</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <th>startTime</th> 
                    <td>
                         <input class="form-control updateclass" type="time" name="starttime"  formControlName="starttime" />
                         <div class="invalid-feedback" width="10px">
                            {{(submitted&&!timeflag)?"ensure start time less than end time":''}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>endTime</th>
                    <td>
                        <input class="form-control updateclass" type="time" (change)="resetchecktime(updateform.controls['starttime'],updateform.controls['endtime'])"  name="endtime"  formControlName="endtime" />
                    </td>
                </tr>
                <tr>
                    <th>timePerPatient</th>
                    <td class="table-footer">
                        <input class="form-control updateclass"  required type="text"  name="perpatienttime"  
                        formControlName="perpatienttime"
                        [ngClass]="{'invalid-feedback':updateform.controls['perpatienttime']?.touched &&updateform.controls['perpatienttime']?.invalid && updateform.controls['perpatienttime']?.errors?.['required']||submitted&& updateform.controls['perpatienttime']?.errors?.['required']}"/>
                        <div class="invalid-feedback">
                            {{((updateform.controls['perpatienttime'].touched&&updateform.controls['perpatienttime'].hasError('required')&&updateform.controls['perpatienttime'].invalid)||(submitted&& updateform.controls['perpatienttime'].errors?.['required']))?"This field is reqired":''}}
                        </div>
                        <div class="invalid-feedback">
                            {{((updateform.controls['perpatienttime'].touched&&updateform.controls['perpatienttime'].hasError('pattern')&&updateform.controls['perpatienttime'].invalid)||(submitted&& updateform.controls['perpatienttime'].errors?.['pattern']))?"please duration between 00:10 and 00:50":''}}
                        </div>
                    </td>
                </tr>
                <tr class="table-footer">
                    <td colspan="2"> <button type="submit">submit</button>
                        <button type="button" (click)="cancelupdate()">cancel</button></td>
                </tr>
            </table>
        </form>
    </div>
</ng-template>
<ng-template #addschadule>
    <div class="schadule table-responsive">
        <form #newschadule="ngForm" (ngSubmit)="add_to_new_schadule_list(newschadule)">
            <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>day of work</th>
                        <th>start time</th>
                        <th>end time</th>
                        <th>time per patient</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="addNewSchaduleFlag">
                        <td>
                            <select class="schadule1" #day="ngModel" ngModel name="workday" class="form-select" required
                            [ngClass]="{'invalid-feedback':day.touched &&day.invalid && day.errors?.['required']||submitted&& day.errors?.['required']}">
                                    <option value=0>sunday</option>
                                    <option value=1>monday</option>
                                    <option value=2>tuesday</option>
                                    <option value=3>wednesday</option>
                                    <option value=4>thursday</option>
                                    <option value=5>friday</option>
                                    <option value=6>saturday</option>
                            </select>
                            <div class="invalid-feedback">
                              {{((day.touched&&day.hasError('required')&&day.invalid)||(submitted&& day.errors?.['required']))?"This field is reqired":''}}
                          </div>
                        </td>
                        <td>
                            <input type="time" class="schadule1" value="start" #start="ngModel" ngModel name="starttime" class="form-control " required  
                            [ngClass]="{'invalid-feedback':start.touched &&start.invalid && start.errors?.['required']
                                        ||submitted&& start.errors?.['required']
                                        ||submitted&&!timeflag}"/>
                           <div class="invalid-feedback">
                                  {{((start.touched&&start.hasError('required')&&start.invalid)||(submitted&& start.errors?.['required']))?"This field is reqired":''}}
                          </div>
                          <div class="invalid-feedback" width="10px">
                              {{(submitted&&!timeflag)?"ensure start time less than end time":''}}
                          </div>
                          </td>
                        <td>
                            <input type="time" class="schadule1" (change)="resetchecktime(start,end)" value="" #end="ngModel"  ngModel name="endtime" class="form-control " required  
                            [ngClass]="{'invalid-feedback':end.touched &&end.invalid && end.errors?.['required']
                            ||submitted&& end.errors?.['required']
                            ||submitted&&!timeflag}"/>
                            <div class="invalid-feedback">
                              {{((end.touched&&end.hasError('required')&&end.invalid)||(submitted&& end.errors?.['required']))?"This field is reqired":''}}
                          </div>
                          </td>
                        <td>
                            <input type="text" class="schadule1"  value="" #perpatient="ngModel" class="form-control " ngModel required name="perpatient" placeholder="00:00" 
                            pattern="(^(00):([1-5]?[0-9]?)$)"  [ngClass]="{'invalid-feedback':perpatient.touched &&perpatient.invalid &&( perpatient.errors?.['required']||perpatient.errors?.['pattern'])||submitted&& perpatient.errors?.['required']}"/>
                            <div class="invalid-feedback">
                              {{((perpatient.touched&&perpatient.hasError('required')
                              &&perpatient.invalid)||(submitted&& perpatient.errors?.['required']))?"This field is reqired":''}}
                              {{((perpatient.touched&&perpatient.hasError('pattern'))||(perpatient.hasError('required')&&submitted))?"please enter per patient between 00:10 and 00:50":''}}
                          </div>
                          </td>
                        <td>
                          <button class="save_btn" type="submit">save</button>
                        </td>
                      </tr>
                      <tr *ngIf="!addNewSchaduleFlag">
                      <td colspan="5"><button class="addrow" type="button" (click)="addnew()"><i class="fas fa-plus"></i></button></td>
                      </tr>
                    <tr *ngFor="let i of tempSchadule.scheduleObjects;let j=index">
                                <td>
                                    <select class="time" [disabled]=true value="{{i.dayOfWork}}" >
                                            <option value="0">sunday</option>
                                            <option value="1">monday</option>
                                            <option value="2">tuesday</option>
                                            <option value="3">wednesday</option>
                                            <option value="4">thursday</option>
                                            <option value="5">friday</option>
                                            <option value="6">saturday</option>
                                    </select>
                                </td>
                                <td>
                                    {{i.startTime}}
                                </td>
                                <td>
                                    {{i.endTime}}
                               </td>
                                <td>
                                    {{i.timePerPatient}}
                                </td>
                                <td><button><i class="fa-solid fa-pen" type="button" (click)="setschadulemodified(j)" style="color: green; background-color: transparent;"></i></button>
                                </td>
                     </tr>
                </tbody>
            </table>
        </div>
        </form>
    </div>
    <div  *ngIf="schaduletableflag">
       <div class="schadule table-responsive"> <h5>Schadule List</h5>
        <table class="table" >
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tr *ngFor="let i of allnewschadule;let j=index">
                <td>{{doctorlist[j]}}</td>
                <td>
                    <select  disabled class="form-select2" value="{{i.dayOfWork}}">
                        <option value=0>sunday</option>
                        <option value=1>monday</option>
                        <option value=2>tuesday</option>
                        <option value=3>wednesday</option>
                        <option value=4>thursday</option>
                        <option value=5>friday</option>
                        <option value=6>saturday</option>
                </select>
                </td>
                <td>{{i.startTime}}</td>
                <td>{{i.endTime}}</td>
                <td><button class="del_btn" (click)="deleteschadule(i)"><i class="fa-solid fa-trash" style="color:red"></i></button></td>
            </tr>
        </table>
        <button class="submit_btn" (click)="submitallschadule()">Submit</button>   </div> 
    </div>
</ng-template>
<div *ngIf="!check" class="mess">
    this schadule is not avaliable
</div>
<div class="successmes" [ngClass]="{'successshow':successflag}" role="alert">
    <strong>success !</strong>
  </div>
<div  class="errormes"  [ngClass]="{'errorshow':errorflag}">
    error!
  </div>
