<div class="fluid-container">
    <header>
          <h3>
             Vital Signs
          </h3>
      </header>
      <form [formGroup]="vitalform" (ngSubmit)="add_vital()" >
              <div class="form">
                  <div class="form-content">
                      <div class="row">
                          <div class="col-md-12">
                              <label for="date">Date</label>
                              <div class="form-group">
                                  <input type="text" value="{{today|date: 'longDate'}}" id="date" class="form-control" placeholder="Date" disabled/>   
                                </div>
                          </div>
                          <div class="col-md-6">
                            <label for="patientname">
                                Patient Name
                            </label>
                              <div class="form-group">
                                  <input type="text" value="{{user.patientname}}" id="patientname" class="form-control" placeholder="patientname"  disabled/>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <label for="Nursename">
                                Nurse Name
                            </label>
                              <div class="form-group">
                                  <input type="text" value="{{user.nursename}}" id="Nursename" class="form-control" placeholder="Nursename" disabled/>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <label for="pressure">
                                Pressure
                            </label>
                              <div class="form-group">
                                  <input type="text" id="pressure" class="form-control" 
                                  placeholder="ex:- 120-80" formControlName="pressure" 
                                  [ngClass]="{'is-invalid':((vitalpressure.touched&&vitalpressure.invalid)||(submitted&&vitalpressure.hasError('required')))}"/>
                                  <div class="invalid-feedback">
                                    {{((vitalpressure.touched&&vitalpressure.invalid)||(submitted&&vitalpressure.hasError('required')))?"This field is reqired":''}}
                                    {{((vitalpressure.touched&&vitalpressure.hasError('pattern'))||(submitted&&vitalpressure.hasError('required')))?"pressure format xxx-xxx":''}}
                                  </div>
                                </div>
                          </div>
                          <div class="col-md-6">
                            <label for="pulseRate">
                                Pulse Rate
                            </label>
                              <div class="form-group">
                                  <input type="number" min="0" id="pulseRate" 
                                  class="form-control" name="pulserate" formControlName="pulserate"
                                   [ngClass]="{'is-invalid':((vitalpulserate.touched&&vitalpulserate.invalid)||(submitted&&vitalpulserate.hasError('required')))}"/>
                                  <div class="invalid-feedback">
                                    {{((vitalpulserate.touched&&vitalpulserate.invalid)||(submitted&&vitalpulserate.hasError('required')))?"This field is reqired":''}}
                                  </div>
                                </div>
                          </div>
                          <div class="col-md-6">
                            <label for="Temperature">
                                Temperature
                            </label>
                              <div class="form-group">
                                  <input type="number" min="25" max="50" class="form-control" id="Temperature"
                                   formControlName="temperature" [ngClass]="{'is-invalid':((vitaltemperature.touched&&vitaltemperature.invalid)||(submitted&&vitaltemperature.hasError('required')))}"/>
                                   <div class="invalid-feedback">
                                     {{((vitaltemperature.touched&&vitaltemperature.invalid)||(submitted&&vitaltemperature.hasError('required')))?"This field is reqired":''}}
                                     {{((vitaltemperature.touched&&vitaltemperature.hasError('min'))||(submitted&&vitaltemperature.hasError('min')))?"min temprature is 25":''}}
                                     {{((vitaltemperature.touched&&vitaltemperature.hasError('max'))||(submitted&&vitaltemperature.hasError('max')))?"max temprature is 50":''}}


                                    </div>
                                 </div>
                          </div>
                          <div class="col-md-6">
                            <label for="ecg">
                                ECG
                            </label>
                              <div class="form-group">
                                  <input type="file" (change)="uploadfile($event)" class="form-control" id="ecg" formControlName="ecg"/>
                                </div>
                          </div>
                          <div class="col-md-6">
                            <label for="Respiration Rate">
                                Respiration Rate
                            </label>
                              <div class="form-group">
                                  <input type="number" class="form-control" id="Respiration Rate" formControlName="respirationrate"
                                  [ngClass]="{'is-invalid':((vitalrespirationrate.touched&&vitalrespirationrate.invalid)||(submitted&&vitalrespirationrate.hasError('required')))}"/>
                                  <div class="invalid-feedback">
                                    {{((vitalrespirationrate.touched&&vitalrespirationrate.invalid)||(submitted&&vitalrespirationrate.hasError('required')))?"This field is reqired":''}}
                                  </div>
                            
                                </div>
                          </div>
                          </div>
                          <div class="row note">
                            <label for="Note">
                                Notes
                            </label>
                            </div>
                          <div class="row">

                            <div class="col-md-6">
                                <label for="title">Title</label>
                                <div class="form-group">
                                    <input type="text" id="title" class="form-control" formControlName="titlenote" />
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                                <label for="explain">explain</label>
                                <div class="form-group">
                                    <textarea row="40" col="30" id="explain" class="form-control" formControlName="exnote" ></textarea>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <button type="submit" class="btnSubmit">Submit</button>
                            </div>
                          </div>
                      </div>
                  </div>
                  </form>
                  <div class="alert alert-success alert-dismissible fade sucessmes" role="alert" [ngClass]="{'successshow':successflag}">
                    <strong>success !</strong>
                  </div>
                <div class="alert alert-danger alert-dismissible fade errormes" role="alert" [ngClass]="{'errorshow':errorflag}">
                    error!
                  </div>
              </div>
    